
<img src="../images/house.jpeg" style="float: center; margin: 20px; height: 55px">

## Project 2 - Ames Housing Data and Kaggle Challenge

_Author: Afolabi Cardoso_

---

### Contents:
- [Overview](#Overview)
- [Imports](#Imports)
- [Data Cleaning](#Data-Cleaning)
- [Data Cleaning Training Set](#Data-Cleaning-Training-Set)
- [Data Cleaning Test Set](#Data-Cleaning-Test-Set)
- [Concat Datasets/Dummify](#Concat-Datasets/Dummify)
- [Exports](#Export)

---
## Overview

This Ames housing project was createed to utilize machine learning models to predict the sale price of houses in Ames, Iowa

This notebook outlines the process of building a linear regression model. 

The Dataset contains 70 columns of different features partaining to housing.

---
## Imports

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import metrics
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split, cross_val_score

#### Import Training Set

In [ ]:
df = pd.read_csv('../datasets/train.csv')

In [ ]:
df.info()

#### Import Test Set

In [398]:
df_test = pd.read_csv('../datasets/test.csv')
df_test.shape

(878, 80)

---
## Data Cleaning Training Set

#### Drop ID column

In [399]:
#drop the Id and PID columns
df.drop(columns=['PID'], inplace=True)

I am dropping <b>'Id','PID',</b> because they don't have useful information for the model

#### Drop features with too many missing values

In [400]:
#get features with more than 40% of missing values and drop them
to_many_na = df.isna().sum()[df.isna().sum()>0.1*len(df)].index
to_many_na

Index(['Lot Frontage', 'Alley', 'Fireplace Qu', 'Pool QC', 'Fence',
       'Misc Feature'],
      dtype='object')

In [401]:
df.drop(columns=to_many_na, inplace = True)

I dropped <b>'Lot Frontage', 'Alley', 'Fireplace Qu', 'Pool QC', 'Fence','Misc Feature'</b> because they all have missing values that account for more than 40% of their data.

#### Convert Floats to Integers

I created a function to replace all na values with the mean of its feature. This fuction also transforms the float values into integers

In [402]:
def fill_na_mean(column):
    if column.dtype == float:
        return column.fillna(np.mean(column)).map(lambda x: int(x))
    return column

Call fill_na_mean function on dataframe

In [403]:
df = df.apply(fill_na_mean)

#### Convert Objects to integers

Some non-numeric variables still have null values. I created a fuction to replace the null values with the mode of its feature

In [404]:
def fill_na_mode(column):
    if column.dtype == object:
        return column.fillna(column.mode()[0])
    return column

Call fill_na_mode function on the dataframe

In [405]:
df = df.apply(fill_na_mode)

Check to make sure there is null value

In [406]:
df.isna().sum()[df.isna().sum()!=0]

Series([], dtype: int64)

In [407]:
df.dtypes[df.dtypes==object].shape

(37,)

---
## Data Cleaning Test Set

#### Drop PID column

In [408]:
#drop the PID columns
df_test.drop(columns=['PID'], inplace=True)

I dropped <b>'Lot Frontage', 'Alley', 'Fireplace Qu', 'Pool QC', 'Fence','Misc Feature'</b> because they all have missing values that account for more than 40% of their data.

In [409]:
df_test.drop(columns=to_many_na, inplace = True)
df_test.shape

(878, 73)

Using the fill_na_mean and fill_na_mode function, replace the null values with mean or mode just as the training set

In [410]:
df_test = df_test.apply(fill_na_mean)
df_test = df_test.apply(fill_na_mode)

In [411]:
df_test.head()

,Id,MS SubClass,MS Zoning,Lot Area,Street,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type
0,2658,190,RM,9142,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,60,112,0,0,0,0,4,2006,WD
1,2718,90,RL,9662,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,170,0,0,0,0,0,0,8,2006,WD
2,2414,60,RL,17104,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,100,24,0,0,0,0,0,9,2006,New
3,1989,30,RM,8520,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,184,0,0,0,0,7,2007,WD
4,625,20,RL,9500,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,76,0,0,185,0,0,7,2009,WD

In [412]:
df.head()

,Id,MS SubClass,MS Zoning,Lot Area,Street,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,...,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,60,RL,13517,Pave,IR1,Lvl,AllPub,CulDSac,Gtl,...,44,0,0,0,0,0,3,2010,WD,130500
1,544,60,RL,11492,Pave,IR1,Lvl,AllPub,CulDSac,Gtl,...,74,0,0,0,0,0,4,2009,WD,220000
2,153,20,RL,7922,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,52,0,0,0,0,0,1,2010,WD,109000
3,318,60,RL,9802,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,0,4,2010,WD,174000
4,255,50,RL,14235,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,59,0,0,0,0,0,3,2010,WD,138500

---
## Exports

#### Export train dataset

In [413]:
df.to_csv('../datasets/train_clean.csv')

#### Export test dataset

In [414]:
df_test.to_csv('../datasets/test_clean.csv')

---
- [Top](#Overview)